*.sqlite
*.sqlite-journal

/node_modules
!/public/assets
/public/plugins
/public/uploads
/public/temp

/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
